.Home {
  &-link {
    display: block;
    width: 80%;
    padding: 12px;
    text-decoration: none;
    margin: 12px auto;
    color: #fff;
    background-color: #70a2db;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.76);
    border-radius: 2px;
    transition: background-color .15s;

    &:hover {
      background-color: #2e7794
    }
  }
  
  &-linkList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1000px;
    margin: auto;
  }
}