* {
  box-sizing: border-box;
}

html {
  background-color: #777;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-home {
  display: inline-block;
  padding: 12px 24px;
  text-decoration: none;
  margin: 12px auto;
  color: #fff;
  background-color: #499041;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.76);
  border-radius: 2px;
  transition: background-color .15s;
}

.App-home:hover {
  background-color: #2a6c23;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
